body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.navbar { margin-bottom: 0px; }

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

#section1 {
    background-color: #1E88E5;
    color: #fff;
    height: 500px;
    padding-top: 50px;
}

#section2 {
    background-color: #673ab7;
    color: #fff;
    height: 500px;
    padding-top: 50px;
}

#section3 {
    background-color: #ff9800;
    color: #fff;
    height: 500px;
    padding-top: 50px;
}

#section41 {
    background-color: #00bcd4;
    color: #fff;
    height: 500px;
    padding-top: 50px;
}

#section42 {
    background-color: #009688;
    color: #fff;
    height: 500px;
    padding-top: 50px;
}

#section-persons {
    height: 600px;
}

.person-tile {
    min-width: 200px;
    height: 400px;
    overflow: auto;
}

.jumbotron {
    margin-bottom: 0;
}

.navbar-inverse {
     background-color: #f2f2f2; 
     border-color: #f2f2f2; 
}
