
.jumbotron {
    margin-bottom: 0;
}

.bg-none {
  background-color: transparent;
}

.img-list-instructors {
    height: 290px;
}

header h3 i {
    background-color: rgba(254, 209, 54, 0.7);
}

.carousel-row {
    padding: 10px;
}

.section-container {
    width: 100%;
    padding: 0;
    margin: 0;
}
.carousel-inner .row {
    padding: 0 30px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul.social-buttons {
    margin-bottom: 15px;
    margin-top: 15px;
}

.carousel-row ul.social-buttons {
    margin: 0
}

a h2.section-heading {
    color: #222222;
}

textarea.form-control {
    height : 500px;
}