
.jumbotron {
    margin-bottom: 0;
}

.bg-none {
  background-color: transparent;
}

.img-list-instructors {
    height: 290px;
}

header h3 i {
    background-color: rgba(254, 209, 54, 0.7);
}

/*.carousel-row {
    padding: 10px;
}*/

/*.section-container {
    width: 100%;
    padding: 0;
    margin: 0;
}*/
/*.carousel-inner .row {
    padding: 0 30px;
}*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul.social-buttons {
    margin-bottom: 15px;
    margin-top: 15px;
}

.carousel-row ul.social-buttons {
    margin: 0
}

a h2.section-heading {
    color: #222222;
}

textarea.form-control {
    height : 206px;
}


header.details-layout .intro-text {
    padding-top: 150px;
    padding-bottom: 30px
}

#share-event-link {
    border-width: 2px;
    margin-right: 25px;
    border-color:  rgba(254, 209, 54, 0.7);
    -ms-border-radius: 25px;
    border-radius: 25px;
}

.navbar-header {
    width: 100%;
}

/* styles for '...' */
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    height: 10.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

.cursor-poiner {
    cursor: pointer;
}

a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 0.5em;
}
a[href^="tel:"] {
    text-decoration: none;
}
.phone-link {
    text-decoration: none;
}
a[href^="tel:"]:hover, a[href^="tel:"]:focus {
    text-decoration: none;
}

.answer-label {
    color: white;
}