<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Навигация</span> Меню <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Уроки вождения</a>
                <span id="akciyaLink"></span>
                <span id="phoneNumber" class="navbar-btn navbar-brand pull-right float-right"></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top" title="uroki-vozhdeniya.by"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Инструкторы</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Обучение</a>
                </li>
@*                <li>*@
@*                    <a class="page-scroll" href="#Video">Видео Уроки</a>*@
@*                </li>*@
                <li>
                    <a class="page-scroll" href="#blog">Полезные советы</a>
                </li>
                <li>
                    <a class="page-scroll" href="#comments">Отзывы</a>
                </li>
                <li>
                    <a class="page-scroll" href="#callMe">Заказать звонок</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
