<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Мечтаешь о правах? Мы научим!</div>
            <div class="intro-heading">Лучшие инструкторы минска!</div>
            <a href="#callMe" class="page-scroll btn btn-xl">Сдать на категорию B</a>
        </div>
    </div>
</header>