<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <span>Мечтаешь о правах? Мы научим!</span>
            </div>
            <div class="intro-heading">
                <h1>Лучшие инструкторы минска!</h1>
            </div>
            <a href="#callMe" class="page-scroll btn btn-xl">Сдать на категорию B</a>
        </div>
    </div>
</header>