<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">
                <span>Рождённых ползать научим ездить</span>
            </div>
            <div class="intro-heading">
                <h1>Лучшие инструкторы Минска!</h1>
            </div>
            <a href="#callMe" class="page-scroll btn btn-xl">Хочешь научиться ездить?</a>
        </div>
    </div>
</header>