@model string

<ul class="list-inline social-buttons text-center">
    <li title="Twitter">
        <a href="@($"https://twitter.com/intent/tweet?text={Model}")" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li title="Facebook">
        <a href="@($"http://www.facebook.com/sharer.php?u={Model}")" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li title="VK">
        <a href="@($"http://vk.com/share.php?url={Model}")" rel="nofollow" target="_blank"><i class="fa fa-vk"></i></a>
    </li>
    <li title="Google+">
        <a href="@($"https://plus.google.com/share?url={Model}")" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a>
    </li>
</ul>
