@model AutoCadet.Models.BlogListPageViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = "Полезные советы";
    ViewBag.HeaderSubTitle = "Рекомендации от инструкторов по вождению";

    ViewData["MetaInfo"] = "Рекомендации от инструкторов по вождению. как сдать экзамен";
    ViewData["MetaDescription"] = "Полезные советы";
    ViewData["MetaKeywords"] = "Полезные советы, сдать экзамен по вождению";
    ViewData["Title"] = "Полезные советы сдающим на категорию B";
}

@{
    var pageUrl = Url.Action("Blog", "Home", Request?.Url?.Scheme);
}

@section detailsH1 {
    <h1 class="section-heading">
        Полезные советы сдающим на категорию B
    </h1>
    <span class="pull-right">
        @{ Html.RenderPartial("_SocialButtons", pageUrl); }
    </span>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="active">Видео Уроки</li>
    </ul>
}

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        @{ Html.RenderPartial("_IndexBlogList", Model.ItemsViewModels?.OrderByDescending(x => x.SortingNumber).ToList()); }
    </div>
</section>