@model AutoCadet.Models.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

@{ Html.RenderPartial("_IndexNavigation"); }
@{ Html.RenderPartial("_IndexHeader"); }

<section id="portfolio" class="bg-light-gray">
@{ Html.RenderPartial("_IndexInstructorsList", Model.InstructorGridItems.OrderByDescending(x => x.SortingNumber).ToList()); }
</section>

 <!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Частные уроки вождения</h2>
                <h3 class="section-subheading text-muted">Нацеленность на результат</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Лицензированные инструкторы</h4>
                <p class="text-muted">Наши инструкторы работают в автошколах и проводят занятия в свободное от работы время.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-road fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Маршурты ГАИ</h4>
                <p class="text-muted">Вы будете кататься там где нужно</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Автодром</h4>
                <p class="text-muted">Есть возможно попрактиковаться на автодроме.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Автомобиль на экзамен</h4>
                <p class="text-muted">Предоставление автомобиля для ГАИ</p>
            </div>
        </div>
    </div>
</section>

     <!-- Team Section -->
<section id="team" class="bg-light-gray">
@{ Html.RenderPartial("_IndexCommentsList", Model.Comments); }
</section>

    <!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Оставить Отзыв</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @using (Html.BeginForm("AddComment", "Home", FormMethod.Post, new {name = "sentMessage", id = "addCommentForm"}))
                {
                    <div class="row">
                        <div id="addCommentError" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Попробуйте еще раз.
                        </div>
                        <div id="addCommentExists" class="alert alert-danger" role="alert" style="display: none">
                            Произошла ошибка. Такой коментарий уже существует.
                        </div>
                        <div id="addCommentSuccess" class="alert alert-success" role="alert" style="display: none">
                            Ваш Отзыв сохранен.
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ваше имя и фамилия *" id="name" name="name" required data-validation-required-message="Уточните, пожалуйста как к вам обращаться.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Ваш Email" id="email" name="email">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Ваш Телефон" id="phone" name="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(x => x.NewComment.Score)
                            </div>
                            <div class="form-group">
                                <select name="instructorId" required>
                                    <option value="" disabled selected>Ваш Инструктор</option>
                                    @foreach (var instructor in Model.InstructorGridItems.OrderBy(x => x.LastName))
                                    {
                                        <option value="@(instructor.Id)">@($"{instructor.LastName} {instructor.LastName}")</option>
                                    }
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Отзыв *" id="message" name="text" required data-validation-required-message="Что же Вы хотели сказать?"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-xl">Сохранить</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
