@model AutoCadet.Models.InstructorsListPageViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = "Лучшие инструкторы минска";
    ViewBag.HeaderSubTitle = "Выбирайте СВОЕГО инструктра";

    ViewData["MetaInfo"] = "Список инструкторов";
    ViewData["MetaDescription"] = "Инструкторы по вождению";
    ViewData["MetaKeywords"] = "Вождение автомобиля, Инструктор";
    ViewData["Title"] = "Инструкторы Минск";
}

@{
    var pageUrl = Url.Action("Instructors", "Home", Request?.Url?.Scheme);
}

@section detailsH1 {
    Наши инструкторы по вождению автомобиля

    <span class="pull-right">
        @{ Html.RenderPartial("_SocialButtons", pageUrl); }
    </span>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Инструкторы</li>
    </ul>
}

<section id="portfolio" class="bg-light-gray">
    @{ Html.RenderPartial("_IndexInstructorsList", Model.InstructorGridItems?.OrderByDescending(x => x.SortingNumber).ToList()); }
</section>