@model AutoCadet.Models.InstructorsListPageViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = "Лучшие инструкторы минска";
    ViewBag.HeaderSubTitle = "Выбирайте СВОЕГО инструктра";

    ViewData["MetaInfo"] = "Список инструкторов";
    ViewData["MetaDescription"] = "Инструкторы по вождению";
    ViewData["MetaKeywords"] = "Вождение автомобиля, Инструктор";
    ViewData["Title"] = "Инструкторы Минск";
}

@{
    var pageUrl = Url.Action("Instructors", "Home", null, Request?.Url?.Scheme);
}

@section detailsH1 {
    <h1 class="section-heading">
        Частные инструкторы в Минске
    </h1>
    <span class="pull-right">
        @{ Html.RenderPartial("_SocialButtons", pageUrl); }
    </span>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="active">Инструкторы</li>
    </ul>
}
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        @{ Html.RenderPartial("_IndexInstructorsList", Model.InstructorGridItems?.OrderByDescending(x => x.SortingNumber).ToList()); }
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <p>В большинстве школ будущие водители не выбирают инструкторов, а довольствуется предоставляемым вариантом. И если преподаватель подошёл к своей работе без должного профессионализма, то курсы обучения вождению автомобиля становятся настоящей пыткой для ученика и последующими сотнями гневных комментариев на специализированных форумах.</p>

            <p>Мы даём свободу выбора каждому, кому нужен инструктор по вождению. Определиться с наставником можно благодаря описанию трудового стажа и отзывам бывших учеников - настоящих автомобилистов.</p>

            <p>Что предлагают автоинструкторы в Минске:</p>

            <ul>
                <li>обучение с нуля;</li>
                <li>вождение по городу на механике;</li>
                <li>дополнительное обучение для тех, кто привык к автомату;</li>
                <li>восстановление навыков вождения;</li>
                <li>повторение правил дорожного движения и их применение по маршрутам ГАИ на Семашко.</li>
            </ul>
            <h2>Профессиональный инструктаж</h2>
            <p>Стоимость дополнительных занятий вождения с автоинструктором фиксированная, но также есть гибкая система скидок для постоянных учеников. Машина с мкпп для сдачи экзамена в ГАИ может быть предоставлена бесплатно после 4-ёх дополнительных занятий с частным инструктором. Или, при неудовлетворительном результате экзамена, цена платного урока вождения с инструктором будет снижена.</p>

            <p>Почему стоит выбрать наших инструкторов по вождению:</p>

            <ul>
                <li>Наши вакансии открыты только для лучших в своём деле.</li>
                <li>Преподаватели одинаково продуктивно работают с новичками и с теми, кто переучивается, находят общий язык с мужчинами и понятно объясняют для женщин.</li>
                <li>частные инструкторы по вождению автомобиля недорого берут за личные занятия.</li>
                <li>У нас гибкий график, и мы можем подстроиться под своих клиентов.</li>
                <li>Мы проводим обучение в любом уголке столице, будь то Центральный, Московский, Фрунзенский район или другая часть Минска.</li>
                <li>Инструкторы тщательно отрабатывают с учениками маршруты экзаменов ГАИ и обращают особое внимание на сложные участки дороги.</li>
            </ul>

            <p>Хороший инструктор по вождению авто на вес золота, и у нас этот вес имеет приемлемую цену - 25 BYN за занятие. Дополнительные уроки вождения по маршрутам ГАИ в Минске помогут обрести необходимую уверенность новичкам или автомобилистам, привыкшим к акпп, частные уроки вождения восполнят пропущенные занятия в автошколе.</p>
        </div>
    </div>
</section>