@model AutoCadet.Models.ObuchenieListPageViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = "Наши услуги";
    ViewBag.HeaderSubTitle = "С нами Вы сдадите на права!";

    ViewData["MetaInfo"] = "";
    ViewData["MetaDescription"] = "";
    ViewData["MetaKeywords"] = "";
    ViewData["Title"] = "Обучение вождению";
}

@{
    var pageUrl = Url.Action("Obuchenie", "Home", Request?.Url?.Scheme);
}

@section detailsH1 {
    Лучшие инструкторы минска объясняют как проехать маршруты ГАИ

<span class="pull-right">
    @{ Html.RenderPartial("_SocialButtons", pageUrl); }
</span>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Обучение</li>
    </ul>
}

<section id="portfolio" class="bg-light-gray">
    @{ Html.RenderPartial("_IndexObuchenieList", Model.ItemsViewModels?.OrderByDescending(x => x.SortingNumber).ToList()); }
</section>