@model AutoCadet.Models.ObuchenieListPageViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = "Наши услуги";
    ViewBag.HeaderSubTitle = "С нами Вы сдадите на права!";

    ViewData["MetaInfo"] = "";
    ViewData["MetaDescription"] = "Обучение вождению автомобиля для начинающих с нуля в Минске по низким ценам. Стоимость курсов обучения вождению авто с частным мастером";
    ViewData["MetaKeywords"] = "Обучение вождению в Минске";
    ViewData["Title"] = "Обучение вождению автомобиля для начинающих с нуля в Минске, стоимость | Курсы обучения вождению с мастером";
}

@{
    var pageUrl = Url.Action("Obuchenie", "Home", null, Request?.Url?.Scheme);
}

@section detailsH1 {
<div class="col-md-9">
    <h1 class="section-heading">
        Обучение вождению с частными автоинструкторамии
    </h1>
    <p class="section-subheading text-right">Мы предлагаем индивидуальное обучение вождению автомобиля для начинающих с нуля в Минске. В нашем штате только опытные инструкторы, индивидуальный подход к каждому ученику и договорная система скидок для постоянных клиентов.</p>
</div>
<div class="col-md-3">
    <span class="pull-right">
        @{ Html.RenderPartial("_SocialButtons", pageUrl); }
    </span>
</div>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="active">Обучение</li>
    </ul>
}

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        @{ Html.RenderPartial("_IndexObuchenieList", Model.ItemsViewModels?.OrderByDescending(x => x.SortingNumber).ToList()); }
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h2>Для кого подойдут занятия</h2>

            <p>Наши занятия по вождению нацелены сразу на несколько групп учеников:</p>

            <ul>
                <li>курс для начинающих водителей, для которых уроки станут первоначальным обучением;</li>
                <li>занятия для тех, кто посещал автошколу, но не получил необходимый разбор маршрутов на практических занятиях или не сошёлся характерами с наставником;</li>
                <li>уроки для женщин, которые нуждаются в восстановлении навыков вождения;</li>
                <li>дополнительная практика для желающих сдать на категорию В.</li>
            </ul>

            <h2>Что предполагают курсы обучения вождению с нуля</h2>

            <p>Начинающему водителю стоит начать с изучения пдд, так как без теории невозможно приступать к практике. Отработка онлайн зачетов и просмотр видеоуроков для чайников станет отличной базой для ученика и своеобразным самоучителем. Далее можно переходить к индивидуальным урокам от мастера обучения вождению.</p>

            <p>Частный инструктор по вождению даст дельные советы новичкам и проинструктирует, как проходить каждый элемент на площадке. Диагональная парковка, змейка, гараж, дворик - эти слова обретут смысл и станут теми элементами, с которыми вы легко справитесь даже при экстремальном вождении.</p>

            <p>Чтобы сдать на права, нужно еще и успешно пройти езду по городу. Центральный, Фрунзенский Московкий район и любой другой уголок столицы будет проработан за время курсов вождения. Особое внимание стоит уделить улице Семашко, так как именно по маршрутам ГАИ на Семашко в Минске проходит экзамен. Многочасовая практика принесет свои плоды: вы сможете не просто научиться водить, но и &laquo;читать дорогу &raquo; и анализировать обстановку.</p>

            <h2>Как записаться на обучение вождению авто</h2>

            <p>Всё начинается с выбора инструктора, с которым необходимо связаться и договориться о занятии. Стоимость обучение вождению автомобиля составляет 25 BYN. Цена дополнительных уроков вождения и вариативность скидок оговаривается индивидуально. Возможны бонусы по договоренности. Всегда предлагаем вождение автомобиля инструктора на экзамене ГАИ после успешных занятий. Цена обучения вождению после неудачной попытки сдачи на права может быть снижена.</p>

            <p>Стоит понимать, что обучение на права - это ответственный шаг, который требует не только материальных вложений, но и приложения максимума сил и стараний. Важно запоминать и применять правила вождения машины для начинающих автомобилистов и не подвергать себя и других участников движения опасности.</p>
        </div>
    </div>
</section>