@model AutoCadet.Models.VideoPageViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = "Видео уроки вождения";
    ViewBag.HeaderSubTitle = "Интерактивное обучение вождению автомобиля не выходя из дома";

    ViewData["MetaInfo"] = "Видео уроки вождения";
    ViewData["MetaDescription"] = "Видеоуроки вождения автомобиля по маршрутам ГАИ Минска, полезное видео по парковке и стилю езды от частных инструкторов";
    ViewData["MetaKeywords"] = "Видеоуроки вождения ";
    ViewData["Title"] = "Видеоуроки вождения - Полезное видео от инструкторов в Минске";
}

@{
    var pageUrl = Url.Action("Video", "Home", null, Request?.Url?.Scheme);
}

@section detailsH1 {
<div class="col-md-9">
    <h1 class="section-heading">
        Лучшие инструкторы минска объясняют как проехать маршруты ГАИ
    </h1>
</div>
<div class="col-md-3">
    <span class="pull-right">
        @{ Html.RenderPartial("_SocialButtons", pageUrl); }
    </span>
</div>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="active">Видео Уроки</li>
    </ul>
}

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        @{ Html.RenderPartial("_IndexVideoList", Model.VideoViewModels?.OrderByDescending(x => x.SortingNumber).ToList()); }
    </div>
</section>