@model AutoCadet.Models.VideoPageViewModel
@{
    Layout = "~/Views/Shared/_DetailsPageLayout.cshtml";
    ViewBag.HeaderTitle = "Видео уроки вождения";
    ViewBag.HeaderSubTitle = "Интерактивное обучение вождению автомобиля не выходя из дома";

    ViewData["MetaInfo"] = "Видео уроки вождения";
    ViewData["MetaDescription"] = "Интерактивное обучение вождению автомобиля не выходя из дома";
    ViewData["MetaKeywords"] = "Вождение";
    ViewData["Title"] = "Видео уроки вождения список";
}

@{
    var pageUrl = Url.Action("Video", "Home", Request?.Url?.Scheme);
}

@section detailsH1 {
    <h1>
        Лучшие инструкторы минска объясняют как проехать маршруты ГАИ
    </h1>

    <span class="pull-right">
    @{ Html.RenderPartial("_SocialButtons", pageUrl); }
</span>
}

@section breadcrumb {
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a>
        </li>
        <li class="active">Видео Уроки</li>
    </ul>
}

<section id="portfolio" class="bg-light-gray">
    <div class="container">
        @{ Html.RenderPartial("_IndexVideoList", Model.VideoViewModels?.OrderByDescending(x => x.SortingNumber).ToList()); }
    </div>
</section>